.App {
  font-family: sans-serif;
  text-align: center;
  position: relative;
  height: 650px;
}

.custom-date-header {
  display: flex;
  flex-direction: row;
  padding: 5px;
  direction: ltr;
}

.dh-item {
  /* flex: 1 1 0; */
  flex: content;
}

.header-right {
  text-align: right;
}

.header-left {
  text-align: left;
}

.myIcon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
}
/* ///////////////////////////////////////////// */
/* @media (max-width: 920px) {
  .custom-date-header {
    flex-direction: column;
  }
} */
/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .custom-date-header {
    flex-direction: column;
  }
}
/* Use a media query to add a breakpoint at 600px: */
/* @media screen and (max-width: 600px) {
  .custom-date-header {
    flex-direction: column;
  }
} */
/* /////////////////////////////////////////////// */
